*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
img{
    width: 25%;
    height: 16vh;
}
body{
   background-color: whitesmoke; 
   color:black;
   text-decoration: solid white;   
}
header{
    size: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.camera{
    height: 10px;
    width: 10px;
}
.Navbar{
    margin: 10px;
    position: fixed;
}

input{
    background-color: white;
    width: 50%;
    height: 40%;
    color:white;
    margin: 50px;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
}

ul, li{
    display: flex;
    flex-direction: row;
}
.tools{
    align-items: flex-end;
}
.results {
font-size: small;
margin-top: 10px;
}
.h2{
    margin-top: 10px;
    font-size: 30px;
}
button{
    background: #2F4D47;
    width: 100px;
    height: 50px;
    color:white;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
    }
    .button:hover{
        background-color: rgb(140, 240, 140);
        
    }
ol ,li , .overview {
    display: flex;
    flex-direction: row;
}
.news{
    margin-left: 5%;
}
ol , li{
    justify-content: space-between;
    margin-right: 26px;
}
.image{
    width: 45%;
}

.wrapper1{
    margin-top: 1rem;
    display:flex;
    justify-content: space-evenly;
    margin: 10px;
    vertical-align: middle;
    gap: 10px;
    width: 100%; 
}

.Stats{
    background: #2F4D47;
    height: 30%; 
    width: 30% ;
}
.Age{
    background: #2F4D47;
    margin: 10px;
    height: 30vh; 
    width: 10% ;    
}
.height{
    background: #2F4D47;
    margin: 10px;
    height: 5%; 
    width: 15% ; 
}
.flex{
    display: flex;
    margin-right: 60px;
    padding: 20px;
}
.latest{
    width: 35%;
    height: 20vh;
    display: flex;
}
.first{
    width: 10%;
    height: 40vh;
}
.Logo{
    margin: 0;
    width: 20px;
    height: 3vh;
}

.transfer {
    margin: 0;
    background: #2F4D47;
    display:flex;
}
.top-stories {
    display: flex;
    flex-direction: row;
    flex: 10px; 
    width: 60%;
    height: 100vh;
    vertical-align: middle;
    gap: 10px;
}
.parent{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 100vh;
    gap: 10px;
}
a{
    font-size:large;
}

@media (min: width(320px)),(max: width(480px)) {
    width: 100%;
}
    
@media (min: width(481px)),(max: width(768px)) {
    width: 100%;
}

 @media (min: width(769px)),(max: width(1024px)) {
        width: 100%;  
}
@media (min: width(1025px)),(max: width(nth)) {
    width: 100%;  
}
.xavi{
    width: 120px;
    height: 100px;
    align-content: flex-end;
}
.canelo{
    width :150px;
    height: 200px;

}